.link-to-route {
  text-decoration: none;
  // color: #ffffff;
  outline: none;
  transition: all 0.3s ease;

  &:hover {
    // background-color: #1e527d;
  }
}

.link-to-route-menulist {
  text-decoration: none;
  // color: #000000;
  outline: none;
}

.MuiPopover-paper {
  padding: 0 !important;
}
